@import url('reset.css');

body {
    background: linear-gradient(rgb(255, 255, 255),rgb(9, 144, 197),rgb(9, 144, 197), rgb(2, 56, 117), rgb(5, 40, 80));
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    padding: 25px;
    gap: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav a {
  color: #041e38;
  font-size: 25px;
  text-decoration: none;
}

footer {
    padding-bottom: 30px;
    margin-top: 20px;
}

footer p{
    color: white;
}

footer p a{
    color: #33A8DB;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    margin: 20px;
    color: #041e38;
    text-transform: uppercase;
}

p {
    margin: 20px;
    color: #041e38;
    font-size: 20px;
}

.inscrever {
    background-color: #041e38;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.modules-list {
    margin: 20px;
}

.module{
    margin: 10px 400px;
    background-color: #041e38;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

#transform-world {
    background-image: url('../images/woman-code.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 30px 0px;
}

#transform-world p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 100px 0px 100px 950px;
    text-transform: lowercase;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 2px #33A8DB;
    text-align:left;

}

#professional-challenges p {
    color: white;
    margin: 10px 200px 40px 200px;
}

.dio-logo {
    filter: drop-shadow(20px 10px 5px rgb(70, 69, 69));
}
